form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  /* background-color: rgba(255,255,255,0.1);
background-blend-mode: lighten; */
  background-image: url(../images/medicine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
}