h1{
  color: #27cfe9;
}
#jumboText{
  margin-right: 3em;
  margin-left: 2em;
}
#jumboText p{
  font-size: 25px;
}
#jumboText p:nth-child(2){
  margin-top: 1em;
}
#jumboText p:nth-child(3){
  margin-left: 5em;
}
#jumboText p:nth-child(4){
  margin-left: 10em;
}
#jumboText p:nth-child(5){
  margin-left: 15em;
}
#jumboImg{
  margin-right: 2em;
  margin-left: 5em;
}
#containerBody{
  background-color: #f6faff;
  padding: 15px;
}
h2{
  color: rgb(219, 112, 94);
}
.card{
  border: none;
  background-color: rgb(243, 220, 204);
}
.footer p{
  color: #0c5460;
  font-weight: bold;
  font-size: large;
}
ul{
  padding-left: 0px;
}
li{
  list-style: none;
  padding: 2px;
}
a{
  color: black;
}
a:hover{
  color:  rgb(248, 179, 29);
  text-decoration: none;
}
#copyright{
  /* margin: 10px; */
  color: rgb(97, 97, 97);
  padding: 25px;
}
#jumboText p a{
  font-size: 25px;
  color: rgb(248, 179, 29);
}