footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    background-color: #293251;
    padding: 10px;
    border-top: 4px solid crimson;
    text-align: center;
    height: 50px;
  }

.footerBanner{
    position: fixed;
    bottom: 0px;
    height:50px;
    width:100%;
    line-height: 50px;
    color: red;
    font-weight: bold;
    background-color: rgba(255, 182, 182, 0.65);
    text-align: center;
}